ion-header {
  .toolbar {
    --background: rgba(249, 236, 236, 0.8); // Fondo semitransparente en la barra de herramientas
    --color: rgb(0, 0, 0);
    font-weight: bold;
  }
}

ion-content {
  --background: linear-gradient(to bottom, #ffffff, #9dc2e3); // Fondo degradado para la pantalla completa
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    img {
      width: 150px;
      height: auto;
      border-radius: 50%; // Imagen circular
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Sombra para destacar la imagen
    }
  }

  .login-form {
    margin-top: 20px;
    position: relative;
    left: 20px;
    top: 50px;
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); // Fondo blanco translúcido
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;

    h1 {
      font-size: 24px;
      color: #000000;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .input-group {
      margin-bottom: 20px;
      width: 100%;

      label {
        font-size: 1rem;
        color: #666;
        text-align: left;
        margin-bottom: 5px;
        display: block;
      }

      ion-item {
        --background: #f9f9f9;
        border-radius: 8px;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);

        ion-input {
          color: black;
          padding: 10px;
          font-size: 16px;
        }
      }
    }

    .login-button {
      --background: #a29c9c; // Color del botón
      color: white;
      font-weight: bold;
      margin-top: 10px;
      border-radius: 20px; // Bordes redondeados en el botón
      box-shadow: 0 4px 8px rgba(48, 158, 248, 0.4); // Sombra en el botón
      width: 100%;
    }
  }
}
