<ion-content class="login-container">

  <div class="image-container">
    <img src="/assets/nombre.png" alt="Logo">
  </div>


  <form (submit)="ingresar()" class="form-container">
    <h2 class="login-title">Inicia sesión</h2>
    

    <ion-item class="input-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input name="nombre" [(ngModel)]="nombre" placeholder="Usuario" required></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input name="password" [(ngModel)]="password" placeholder="Contraseña" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" class="login-button" type="submit">Ingresar</ion-button>

    <ion-text class="forgot-password">
      ¿No tienes cuenta? <a href="/registro">Regístrate</a>
    </ion-text>
  </form>
</ion-content>
