<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesiónn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <!-- Imagen de fondo -->
  <img src="assets/fondo.png" class="background-img" alt="Fondo" />

  <!-- Imagen adicional sobre el fondo -->
  <div class="image-container">
    <img src="assets/fondo.png" alt="Guerrero Oscuro" />
  </div>

  <!-- Contenedor del formulario de login -->
  <div class="login-form">
    <h1>Login</h1>

    <div class="input-group">
      <label for="email">Email</label>
      <ion-item>
        <ion-input id="email" type="email" [(ngModel)]="usuario" name="email"></ion-input>
      </ion-item>
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <ion-item>
        <ion-input id="password" type="password" [(ngModel)]="contrasena" name="password"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" shape="round" class="login-button" (click)="login()">Log in</ion-button>
  </div>
</ion-content>
