<div class="home-container">
  <!-- Banner principal con título y botón CTA -->
  <section class="banner">
    <div class="banner-content">
      <h1>Bienvenido a RappiFET</h1>
      <p>Encuentra lo mejor para ti con  productos exclusivos.</p>
      <button class="cta-button" (click)="scrollToFeatured()">Explorar Productos</button>
    </div>
  </section>

  <!-- Sección de productos destacados -->
  <section id="featured-products" class="featured-products">
    <h2>Tus productos favoritos</h2>
    <div class="products-grid">
      <div class="product-card" *ngFor="let producto of productosDestacados">
        <img [src]="producto.imagen" alt="Producto Destacado" />
        <div class="product-info">
          <h3>{{ producto.nombre }}</h3>
          <p>{{ producto.descripcion }}</p>
          <button class="product-button">Añadir al Carrito</button>
        </div>
      </div>
    </div>
  </section>
</div>
  
  
  
  
  