<ion-content [fullscreen]="true">
  <div id="container">
    <header class="header-image">
      <img src="/assets/fondo.png" alt="Logo de la aplicación" />
    </header>
    <div class="content-box">
    <strong>
      <h2 class="header-text">Inicia Sesión</h2>
    </strong>
      <ion-button  class="main-button" (click)="goToLogin()">Ingresar</ion-button>
      <p class="register-text">
        ¿No tienes cuenta? 
        <a href="/registro">Regístrate</a>
      </p>
    </div>
  </div>
</ion-content>
